<a href="https://colab.research.google.com/github/rdminhot/2da_pre_entrega_Moreno_Minhot/blob/main/ETL_Addidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [89]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
df = pd.read_excel('/content/Adidas US Sales Datasets.xlsx')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9652 entries, 0 to 9651
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   9649 non-null   object
 2   Unnamed: 2   9650 non-null   object
 3   Unnamed: 3   9649 non-null   object
 4   Unnamed: 4   9649 non-null   object
 5   Unnamed: 5   9649 non-null   object
 6   Unnamed: 6   9649 non-null   object
 7   Unnamed: 7   9649 non-null   object
 8   Unnamed: 8   9649 non-null   object
 9   Unnamed: 9   9649 non-null   object
 10  Unnamed: 10  9649 non-null   object
 11  Unnamed: 11  9649 non-null   object
 12  Unnamed: 12  9649 non-null   object
 13  Unnamed: 13  9649 non-null   object
dtypes: float64(1), object(13)
memory usage: 1.0+ MB

In [92]:
df.isnull().sum()

Unnamed: 0     9652
Unnamed: 1        3
Unnamed: 2        2
Unnamed: 3        3
Unnamed: 4        3
Unnamed: 5        3
Unnamed: 6        3
Unnamed: 7        3
Unnamed: 8        3
Unnamed: 9        3
Unnamed: 10       3
Unnamed: 11       3
Unnamed: 12       3
Unnamed: 13       3
dtype: int64

In [93]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Adidas Sales Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
4,NaN,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store

In [94]:
df['Unnamed: 0'].isnull().sum()

9652

In [95]:
df.drop('Unnamed: 0', axis=1, inplace=True)  #quitamos columna Unnamed: 0

In [96]:
df.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,Adidas Sales Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
df.iloc[3] #colocamos fila 3 como 1er registro

Unnamed: 1             Retailer
Unnamed: 2          Retailer ID
Unnamed: 3         Invoice Date
Unnamed: 4               Region
Unnamed: 5                State
Unnamed: 6                 City
Unnamed: 7              Product
Unnamed: 8       Price per Unit
Unnamed: 9           Units Sold
Unnamed: 10         Total Sales
Unnamed: 11    Operating Profit
Unnamed: 12    Operating Margin
Unnamed: 13        Sales Method
Name: 3, dtype: object

In [98]:
nv_encabezado = ["Local","ID","Fecha de venta","Region","Estado","Ciudad","Producto","Precio por unidad","Cantidad vendida","Total vendido","Ganacias","Margen de operacion","Tipo de venta"]
# Encabezamos columnas

In [99]:
adidas = df[4:]

In [100]:
adidas.columns = nv_encabezado

In [101]:
adidas.head(1)

,Local,ID,Fecha de venta,Region,Estado,Ciudad,Producto,Precio por unidad,Cantidad vendida,Total vendido,Ganacias,Margen de operacion,Tipo de venta
4,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store

In [102]:
adidas.reset_index(drop=True, inplace=True)

In [103]:
adidas.head(1)

,Local,ID,Fecha de venta,Region,Estado,Ciudad,Producto,Precio por unidad,Cantidad vendida,Total vendido,Ganacias,Margen de operacion,Tipo de venta
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store

In [104]:
adidas.isnull().sum() #verificamos que los nulos estaban en los primeros 3 registros

Local                  0
ID                     0
Fecha de venta         0
Region                 0
Estado                 0
Ciudad                 0
Producto               0
Precio por unidad      0
Cantidad vendida       0
Total vendido          0
Ganacias               0
Margen de operacion    0
Tipo de venta          0
dtype: int64

In [105]:
adidas.duplicated().sum()

0

## Verificamos valores de cada variable

In [106]:
adidas["Local"].value_counts()

Local
Foot Locker      2637
West Gear        2374
Sports Direct    2032
Kohl's           1030
Amazon            949
Walmart           626
Name: count, dtype: int64

In [107]:
adidas["Fecha de venta"].value_counts()

Fecha de venta
2021-01-17    77
2021-08-17    72
2021-03-16    72
2021-04-17    72
2021-11-17    71
              ..
2020-06-14     2
2020-06-15     2
2020-06-17     2
2020-06-18     2
2020-06-16     2
Name: count, Length: 724, dtype: int64

In [108]:
type(adidas["Fecha de venta"][0])

datetime.datetime

In [109]:
adidas["Producto"].value_counts()

Producto
Men's Street Footwear        1610
Men's Athletic Footwear      1610
Women's Street Footwear      1608
Women's Apparel              1608
Women's Athletic Footwear    1606
Men's Apparel                1606
Name: count, dtype: int64

In [110]:
adidas["Tipo de venta"].value_counts()

Tipo de venta
Online      4889
Outlet      3019
In-store    1740
Name: count, dtype: int64

In [111]:
adidas1 = adidas

In [112]:
adidas1["Genero"] = np.where(adidas1["Producto"].str.contains("Men's"), "Masculino", "Femenino")
#obtención de nueva columna "Género" a  partir de info  en "Productos"

<ipython-input-112-eb703328b3c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adidas1["Genero"] = np.where(adidas1["Producto"].str.contains("Men's"), "Masculino", "Femenino")

In [113]:
adidas1["Genero"].value_counts()

Genero
Masculino    4826
Femenino     4822
Name: count, dtype: int64

In [114]:
# Definir las condiciones
condiciones = [
    adidas1["Producto"].str.contains("Men's Street Footwear|Women's Street Footwear"),
    adidas1["Producto"].str.contains("Men's Athletic Footwear|Women's Athletic Footwear"),
    adidas1["Producto"].str.contains("Apparel")
]

In [115]:
# Definir los resultados para cada condición
resultados = [
    "Calzado Urbano",
    "Calzado Deportivo",
    "Vestir"
]

In [116]:
# Aplicar las condiciones al DataFrame
adidas1["Tipo de ropa"] = np.select(condiciones, resultados, default="Otros")
#Generación de Columna Tipo de ropa a partir de valores de "Productos"

<ipython-input-116-4387c1942a0c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adidas1["Tipo de ropa"] = np.select(condiciones, resultados, default="Otros")

In [117]:
# Mostrar el DataFrame resultante
print(adidas1.head())

         Local       ID       Fecha de venta     Region    Estado    Ciudad  \
0  Foot Locker  1185732  2020-01-01 00:00:00  Northeast  New York  New York
1  Foot Locker  1185732  2020-01-02 00:00:00  Northeast  New York  New York
2  Foot Locker  1185732  2020-01-03 00:00:00  Northeast  New York  New York
3  Foot Locker  1185732  2020-01-04 00:00:00  Northeast  New York  New York
4  Foot Locker  1185732  2020-01-05 00:00:00  Northeast  New York  New York

                    Producto Precio por unidad Cantidad vendida Total vendido  \
0      Men's Street Footwear                50             1200        600000
1    Men's Athletic Footwear                50             1000        500000
2    Women's Street Footwear                40             1000        400000
3  Women's Athletic Footwear                45              850        382500
4              Men's Apparel                60              900        540000

  Ganacias Margen de operacion Tipo de venta     Genero       Tipo de ropa
0   300000                 0.5      In-store  Masculino     Calzado Urbano
1   150000                 0.3      In-store  Masculino  Calzado Deportivo
2   140000                0.35      In-store   Femenino     Calzado Urbano
3   133875                0.35      In-store   Femenino  Calzado Deportivo
4   162000                 0.3      In-store  Masculino             Vestir

In [118]:
adidas1["Tipo de ropa"].value_counts()

Tipo de ropa
Calzado Urbano       3218
Calzado Deportivo    3216
Vestir               3214
Name: count, dtype: int64

In [119]:
adidas1.head()

,Local,ID,Fecha de venta,Region,Estado,Ciudad,Producto,Precio por unidad,Cantidad vendida,Total vendido,Ganacias,Margen de operacion,Tipo de venta,Genero,Tipo de ropa
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store,Masculino,Calzado Urbano
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store,Masculino,Calzado Deportivo
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store,Femenino,Calzado Urbano
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,0.35,In-store,Femenino,Calzado Deportivo
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,0.3,In-store,Masculino,Vestir

In [120]:
adidas2 = adidas1.drop(["Producto"], axis=1) #eliminación de columna productos

In [121]:
adidas2.head(1)

,Local,ID,Fecha de venta,Region,Estado,Ciudad,Precio por unidad,Cantidad vendida,Total vendido,Ganacias,Margen de operacion,Tipo de venta,Genero,Tipo de ropa
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,50,1200,600000,300000,0.5,In-store,Masculino,Calzado Urbano

In [122]:
adidas2["Fecha de venta"] = pd.to_datetime(adidas2["Fecha de venta"])

In [123]:
adidas2.head(1)

,Local,ID,Fecha de venta,Region,Estado,Ciudad,Precio por unidad,Cantidad vendida,Total vendido,Ganacias,Margen de operacion,Tipo de venta,Genero,Tipo de ropa
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,50,1200,600000,300000,0.5,In-store,Masculino,Calzado Urbano

In [124]:
adidas2["Año"] = adidas2["Fecha de venta"].dt.year
adidas2["Mes"] = adidas2["Fecha de venta"].dt.month
adidas2["Dia"] = adidas2["Fecha de venta"].dt.day

In [125]:
adidas2.drop(["Fecha de venta"], axis=1, inplace=True)

In [126]:
adidas2.head(1)

,Local,ID,Region,Estado,Ciudad,Precio por unidad,Cantidad vendida,Total vendido,Ganacias,Margen de operacion,Tipo de venta,Genero,Tipo de ropa,Año,Mes,Dia
0,Foot Locker,1185732,Northeast,New York,New York,50,1200,600000,300000,0.5,In-store,Masculino,Calzado Urbano,2020,1,1

In [127]:
adidas2.to_csv("adidas1.csv", index=False)

In [128]:
os.getcwd()

'/content'

In [129]:
os.path.exists("adidas1.csv")

True

In [130]:
os.path.isfile("adidas1.csv")# generamos un nuevo dataset limpio y lo importamos al Drive

True

In [132]:
ruta_archivo = '/content/drive/MyDrive/No-Country/transformaciones.parquet'

adidas2.to_parquet(ruta_archivo, index=False)

In [133]:
ruta_csv = '/content/drive/MyDrive/No-Country/dataset_para_EDA.csv'
adidas2.to_csv(ruta_csv, index=False)